@font-face {
    font-family: "Compacta";
    src: url(../fonts/AC-Compacta_unicode.otf) format('opentype');
}

@font-face {
    font-family: "Mussels";
    src: url(../fonts/TT\ Mussels\ Trial\ Regular.otf) format('opentype');
}

body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.container-section{
    margin: auto;
    width: 90%;
}

.font-compacta{
    font-family: "Compacta", sans-serif;
    
}

.font-mussels{
    font-family: "Mussels", sans-serif;
}

#cabecalho {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

#home-page {
    position: relative; 
}

.bi-code-slash{
    font-size: 30px;
    height: 30px;
}


.nav .nav-link.active{
    background: none;
    text-decoration: underline;
}

.nav .nav-link,
.navbar-brand, 
.navbar-brand:hover{
    color: rgb(255, 255, 255);
}



.navbar-brand h1{
    margin: 0;
    height: 30px;
}

.bi-list{
    color: white;
    font-size: 35px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    outline: none; 
    box-shadow: none; 
}

.navbar-collapse{
    width: 100%;
    max-width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.986);
    border-radius: 30px;
    margin: 10px;
}


#home-page img{
    height: 100%;
    max-height: 800px;
}


#home-page  div{
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 2rem;

}


#home-page h1,p, .btn{
    margin-left: 60%;
    margin-bottom: 0;
}

#home-page h1{
    font-size: 4em;
    line-height: 0.9;
}

#home-page p{
    font-size: 0.9em;
}

.btn-dark {
    box-shadow: 1px 0px 10px black;
    background-color: rgba(85, 85, 85, 0.459);
    border: none;
    letter-spacing: 2px;
    font-family: "roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-dark a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-dark i {
   font-size: 25px;
}

.about-me-card{
    background-color: #F8F8F8;
    border-radius: 10px;
}


.about-me-text{
    text-align: justify;
    word-spacing: 0.1em;
   width: 90%;
}


.container-carousel{
    width: 80%;
    margin: auto;
}


/* Para centralizar verticalmente os botões */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 2; 
}

/* Posiciona os botões fora do carousel */
.carousel-control-prev {
  left: -60px; 
}

.carousel-control-next {
  right: -60px;
}

.card-body p,
.card-body .btn {
    margin-left: 0;
}


.card {
    position: relative;
    overflow: hidden; 
}

.card-img-top {
    transition: transform 0.3s; 
}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
}

.card:hover .card-img-top {
    transform: scale(1.1); 
}

.card:hover .card-body {
    opacity: 1; 
}

.card-icons img{
    width: 45px;
}

.card-icons img {
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.card-icons img:hover {
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.7)); 
    transform: scale(1.1); 
}

