@font-face {
    font-family: "Compacta";
    src: url(../fonts/AC-Compacta_unicode.otf) format('opentype');
}

@font-face {
    font-family: "Mussels";
    src: url(../fonts/TT\ Mussels\ Trial\ Regular.otf) format('opentype');
}

